.loginScreen {
    position: relative;
    height: 100%;
    background: url("https://miro.medium.com/v2/resize:fit:1200/1*5lyavS59mazOFnb55Z6znQ.png") center no-repeat; /*  background style properties at once, such as color, image, origin and size, or repeat method */
    background-size: cover;
}

.loginScreen_logo {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 150px;
    object-fit: contain; /* ensures aspect ratio stays the same if size changes i.e img does not distort*/
}

.loginScreen_signIn {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    border: none;
    font-weight: 600;
}

.loginScreen_gradient {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top, /* position of the gradient line's starting point i.e bottom to top*/
        rgba(0, 0, 0, 0.8) 0%, /* black w/ opacity 0.8 covers 0% length from bottom  */ 
        rgba(0, 0, 0, 0) 60%, /* color transitions b/w both blacks with transparent color BUT midpoint of transition is 60% of length from the bottom*/
        rgba(0, 0, 0, 0.8) 100% /* black w/ opacity 0.8 covers 0% length from top  */ 
        
    );
}

.loginScreen_body {
    position: absolute;
    top: 30%;
    text-align: center;
    margin-left: auto; /* The auto keyword will give the left side a share of the remaining space. When combined with margin-right: auto, it will center the element, if a fixed width is defined */
    margin-right: auto;;
    z-index: 1;
    color: white;
    padding: 20px;
}

.loginScreen_body > h1 {
    font-size: 3.125rem;
    margin-bottom: 20px;
}

.loginScreen_body > h2 {
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 20px;
}

.loginScreen_body > h3 {
    font-size: 1.3rem;
    font-weight: 100;
}

.loginScreen_input {
    margin: 20px;
}

.loginScreen_input > form > input {
    padding: 9px;
    outline: none; /* removes blue outline when input is clicked */
    height: 30px;
    width: 30%; /* IMP: setting height as a %age makes the app responsive */
    max-width: 600px; /* doesnt become too long on larger screens */
}

.loginScreen_getStarted {
    padding: 16px 20px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    border: none;
    font-weight: 600;
    cursor: pointer;
}