.profileScreen {
    height: 100vh;
    color: white;
}

.profileScreen_body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
}

.profileScreen_body > h1 {
    font-size: 60px;
    font-weight: 100;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px
}

.profileScreen_info {
    display: flex;
}

.profileScreen_info > img {
    height: 100px;
}

.profileScreen_details > h3 {
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}

.profileScreen_details {
    color: white;
    margin-left: 25px;
    flex: 1; /* so that all available space in container is used up */
}

.profileScreen_details > h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.profileScreen_signOut {
    font-size: 1rem;
    font-weight: 200;
    padding: 10px 20px;
    outline: none;
    border: none;
    color: white;
    background-color: #e50914;
    margin-top: 5%;
    cursor: pointer;
}

.profileScreen_subs {
    margin-top: 20px;
    margin-left: 125px;
}

.profileScreen_subs > h4 {
    font-size: 0.8rem;

}

.box1, .box2, .box3 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
}

.box1:hover, .box2:hover, .box3:hover {
    opacity: 1;
}

.box_btn {
    padding: 10px 20px;
    color: white;
    background-color: #e50914;
    border: none;
    outline: none;
    cursor: pointer;
}

.box_btnSubs {
    padding: 10px 20px;
    color: white;
    background-color: gray;
    border: none;
    outline: none;
    cursor: pointer;
}

.profileScreen_plans > button {
    width: 100%;
}