.row {
    color: white;
    padding: 15px;
}

.row_posters {
    display: flex;
    overflow-y: hidden; /*sets the desired behavior when content does not fit in the parent element box (overflows) in the horizontal and/or vertical direction */
    overflow-x: scroll;
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_poster {
    max-height: 120px;
    object-fit: contain;
    margin-right: 10px;
    margin-top: 10px;
    width: 100%;
    cursor: pointer; 
    transition: transform 450ms; /* set transition for transform prpoerty w/ duration of 450ms*/
}

.row_poster:hover {
    transform: scale(1.10); /* transform property can rotate, move, skew, and scale elements.*/
    opacity: 1;
}

.row_posterLarge {
    max-height: 250px;
}

.row_posterLarge:hover {
    transform: scale(1.12);
    opacity: 1;
}
